@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --popover: 210 40% 98%;
    --popover-foreground: 222 47% 11%;
    --card: 210 40% 98%;
    --card-foreground: 222 47% 11%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 3 74% 65%;
    --secondary-foreground: 210 40% 98%;
    --accent: 36 100% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --ring: 221 83% 53%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 3 74% 65%;
    --secondary-foreground: 222 47% 11%;
    --accent: 36 100% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --ring: 221 83% 53%;
  }
}

* {
  @apply border-border;
}
body {
  @apply bg-background font-sans text-foreground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
